*{
    margin:0;
    padding:0;
}
    
.w100{
    width: 100%;
     
}

.w1140{
    width: 1250px;
    margin: auto;
}

footer{
    color:white;
    padding: 30px;
    
}

.box{ 
    width:calc(33.33% - 80px);
    color: white;
    float: left;
    overflow: hidden;
    box-shadow: 0px 0px 1200px rgb(0, 0, 0);
    text-align: left;
    height: 470px;
    background:#001833;
    padding: 40px;
}

.box h1{
    font-size:55px;
    font-weight:bold;
}
  
.box h2{
    color:gold;
    margin:20px 0;
}

.box h3 {
    margin:10px 0;
    color: gold;
}

.box p{
    line-height:28px;
    font-size:18px;
}

.box ul{
    list-style:none;
}

.box ul li{
    margin:15px 0;
    font-size:18px;
}

.icons i{
    background:#0a4a87;
    padding:10px;
    margin:5px;
    border-radius:5px;
    font-size:18px;
    color: white;
}

.box1 a{
    color: white;
    text-decoration: none;
}

.p{
    color: gold;
}

.f1{
    color: white;
    background-color: #033768;
    padding: 30px;
    font-size: larger;
    align-items: center;
    display: flex;

}
.box2 a{
    color: gold;
    text-decoration: none;
}
.box3 a{
    color: gold;
    text-decoration: none;
}
.box4 a{
    color: white;
    text-decoration: none;
}
