table{
  width: 85%;
  margin: auto;
  border-collapse: collapse;
}

th{
  background-color: black;
  color: white;
  padding: 12px;
}

td{
  padding: 10px;
  text-align: center;
}

th, td{
  border: 1px solid black;
}